.grid {
    padding: 10px 15px;
    background-color: rgb(96, 143, 204);
    border: 1px solid rgb(24, 84, 133);
    text-align: center;
    font-size: 22px;
    font-family: sans-serif;
    color: #fff;
}

.grid {
    display: grid;
    /* grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: repeat(3, 100px); */

    grid-template: repeat(3, 100px) / repeat(4, 150px);

    grid-gap: 20px;
}