.container {
    display: flex;
    flex-direction: row; /* Определяет направление главной оси (вдоль которой выстраиваются элементы) */
    flex-wrap: wrap; /* Способность элементов переноситься на новую строку */
    justify-content: center; /* Распределение пространства вдоль главной оси */
    align-items: baseline; /* Выравнивание элементов вдоль поперечной оси (выровнены по нижней текстовой границе самого большого элемента, иначе будет разброс) */
    align-content: flex-start; /* Выравнивает строки элементов вдоль поперечной оси */
    height: 400px;
    width: 150px;
}

.item-1 { 
    font-size: 16px;
    /* flex: <flex-grow> <flex-shrink> <flex-basis> */
    flex-basis: 100px; /* Фиксированный старт */
    flex-grow: 1; /* Способность элемента расти, заполняя свободное пространство */ /* flex-grow: 1; Занимает доступное пространство */
    flex-shrink: 0; /* Способность элемента сжиматься при нехватке места (не работает при flex: wrap) */
    align-self: flex-end; /* Переопределяет align-items (выравнивание элемента по поперечной оси) */
    order: 2; /* Изменение порядка элементов (меньшие числа идут первыми) */
 }

.item-2 { 
    font-size: 16px;
    flex-basis: auto; /* Естественный размер от текста */
    flex-grow: 2; /* Занимает в 2 раза больше */
    flex-shrink: 0; /* Способность элемента сжиматься при нехватке места (не работает при flex: wrap) */
    order: 1;
 }

.item-3 { 
    font-size: 16px;
    flex-basis: 50%; /* 75px от контейнера */
    flex-grow: 0; /* Не увеличивается вообще */
    flex-shrink: 0; /* Способность элемента сжиматься при нехватке места (не работает при flex: wrap) */
 }

.item-4 {
    align-self: flex-end; /* Переопределяет align-items (выравнивание элемента по поперечной оси) */
}